.vscode/user.*
packages/sl-core/ios/vendor/bundle
tmp
yarn-error.log
packages/sl-core/ios/fastlane/report.xml
packages/sl-core/ios/fastlane/mkmf.log
packages/sl-core/ios/BooklnSaaS.xcworkspace/xcuserdata
packages/sl-core/android/app/log.txt
node_modules
packages/sl-core/ios/Pods
packages/sl-core/android/app/build
packages/sl-core/android/build
packages/sl-core/android/.gradle
packages/sl-core/android/local.properties
packages/sl-core/android/.idea
packages/sl-core/android/BooklnSaaS.iml
packages/sl-core/android/app/app.iml
.idea/BooklnSaaS.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/codeStyles/Project.xml
packages/sl-core/ios/build
.DS_Store
foxit.zip
.history
packages/sl-core/ios/Gemfile.lock
packages/sl-core/ios/fastlane/builds
.idea
packages/sl-core/.expo
.expo
packages/sl-core/ios/assets
*.hprof
packages/sl-core/src/ReactotronConfig.js
packages/sl-core/vendor
packages/sl-core/dist
